.navbar.app{
    padding-left: 10px;
    display:flex;
    align-items: center;

    color: aliceblue;

    font-size: 23px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: #3d8061;
}